<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>Katalog </title>
    <script src="js.js" ></script>
    <link rel="stylesheet" href="styles.css" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <h1 class="überschrift">Katalog von Weeabird </h1>
    <div id="contentwrapper">
      <div class="inhalt">
        <div class="cover"></div>
            <div class="wrapper">
              <h2 class="überschrift">Darude - Sandstorm</h2>
              <div class="spektroscheiß"></div>
              <div class="comment">asdt</div>
           </div>
      </div>
    </div>
  </body>
</html>